<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AdminLogintServlet</display-name>
    <servlet-name>AdminLogintServlet</servlet-name>
    <servlet-class>AdminLogintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogintServlet</servlet-name>
    <url-pattern>/AdminLogintServlet</url-pattern>
  </servlet-mapping>
  <display-name>Train Ticket Booking System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewTrainServlet</display-name>
    <servlet-name>NewTrainServlet</servlet-name>
    <servlet-class>NewTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTrainServlet</servlet-name>
    <url-pattern>/NewTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewTrainServlet</display-name>
    <servlet-name>AddNewTrainServlet</servlet-name>
    <servlet-class>AddNewTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewTrainServlet</servlet-name>
    <url-pattern>/AddNewTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTrainServlet</display-name>
    <servlet-name>EditTrainServlet</servlet-name>
    <servlet-class>EditTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTrainServlet</servlet-name>
    <url-pattern>/EditTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTrainServlet</display-name>
    <servlet-name>DeleteTrainServlet</servlet-name>
    <servlet-class>DeleteTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTrainServlet</servlet-name>
    <url-pattern>/DeleteTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountServlet</display-name>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountServlet</servlet-name>
    <url-pattern>/CreateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeatAvailabilityServlet</display-name>
    <servlet-name>SeatAvailabilityServlet</servlet-name>
    <servlet-class>SeatAvailabilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeatAvailabilityServlet</servlet-name>
    <url-pattern>/SeatAvailabilityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetailsServlet</display-name>
    <servlet-name>UserDetailsServlet</servlet-name>
    <servlet-class>UserDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsServlet</servlet-name>
    <url-pattern>/UserDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTicketServlet</display-name>
    <servlet-name>BookTicketServlet</servlet-name>
    <servlet-class>BookTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTicketServlet</servlet-name>
    <url-pattern>/BookTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookSeatsServlet</display-name>
    <servlet-name>BookSeatsServlet</servlet-name>
    <servlet-class>BookSeatsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSeatsServlet</servlet-name>
    <url-pattern>/BookSeatsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookedPassengersServlet</display-name>
    <servlet-name>BookedPassengersServlet</servlet-name>
    <servlet-class>BookedPassengersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookedPassengersServlet</servlet-name>
    <url-pattern>/BookedPassengersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookedTrainDetailsServlet</display-name>
    <servlet-name>BookedTrainDetailsServlet</servlet-name>
    <servlet-class>BookedTrainDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookedTrainDetailsServlet</servlet-name>
    <url-pattern>/BookedTrainDetailsServlet</url-pattern>
  </servlet-mapping>
</web-app>